.header-container {
  display: flex;
  position: relative;

  @media (max-width: $screen-xs-max) {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.header-logo-link {
  height: 55px;
}

.header {
  background-color: $c-header-bg;
  padding-bottom: 17px;
}

.burger-menu-button {
  background-color: $c-burger-menu-bg;
  border: none;
  display: none;
  height: 20px;
  position: relative;
  width: 26px;

  @media (max-width: $screen-xs-max) {
    display: block;
  }
}

.burger-icon {
  background-color: $c-header-icon-bg;
  border-radius: 2px;
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;

  &:nth-child(2) {
    top: 7px
  }

  &:nth-child(3) {
    top: 14px
  }
}

.burger-menu-button.open {
  .burger-icon {
    &:nth-child(1) {
      rotate: 45deg;
      top: 8px;
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      rotate: -45deg;
      top: 8px;
    }
  }
}

.header-logo {
  @media (max-width: $screen-xs-max) {
    height: 45px;
    margin-left: 15px;
    width: 98px;
  }
}

.header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: $screen-xs-max) {
    width: auto;
  }
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding-left: 25px;

  @media (max-width: $screen-sm-max) {
    padding-left: 10px;
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.header-nav-item {
  color: $c-header;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  transition: 0.3s ease;

  &:hover {
    color: $c-header-link-hover;
    text-decoration: none;
  }

  @media (max-width: $screen-sm-max) {
    font-size: 14px;
  }

  + .header-nav-item {
    margin-left: 22px;

    @media (max-width: $screen-sm-max) {
      margin-left: 12px;
    }
  }
}

.map-link {
  color: $c-header;
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
  position: relative;

  &:before {
    content: url('/src/assets/icons/point-icon.svg');
    display: inline-block;
    left: -20px;
    position: absolute;
    top: 2px;
    width: 14px;
  }

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.language-button {
  @include button-styles( $c-header-btn, $c-header-btn-bg, $c-header-btn-hover, $c-header-btn-hover-bg);
  cursor: pointer;
  border: 1px solid $c-header-btn-border;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  margin-left: 24px;
  padding: 6px;
  transition: 0.4s ease;

  @media (max-width: $screen-sm-max) {
    margin-left: 14px;
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.login-button {
  @include button-styles( $c-header-login-btn, $c-header-login-btn-bg, $c-header-login-btn-hover, $c-header-login-btn-hover-bg);
  border: 1px solid $c-header-login-btn-border;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-left: 24px;
  padding: 7px 20px;

  @media (max-width: $screen-sm-max) {
    margin-left: 14px;
  }

  @media (max-width: $screen-xs-max) {
    @include button-styles( $c-header-login-btn-xs, $c-header-login-btn-bg-xs, $c-header-login-btn-xs, $c-header-login-btn-hover-bg);
    border-color: $c-header-login-btn-border-xs;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-left: 0;
    padding: 6px 10px;
  }
}
